@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Open+Sans&display=swap');

#intro {

    padding: 100px 80px;
    overflow: hidden;
    background-color: #F0EBDF;


}

.introPart {
    max-width: 1217px;
    text-align: left;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}


.introImage {
    width: 100%;
    transform: translate(-20px, 120px);
}

.introHeading {
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 90px;
    height: 21.563rem;
    width: 44.25rem;
    line-height: 115.2px;
    color: #092C27;
    margin-top: 1rem;
}

.spanColor {
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 400;
    color: #EDB96F;
    font-size: 90px;
}

.introPara {
    width: 34.5rem;
    height: 3.125rem;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.51px;
    color: #525755;
    margin-top: 1rem;

}

.introButton {
    background-color: #EDB86F;
    width: 11.125rem;
    height: 2rem;
    border: none;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    line-height: 21.79px;

}

@media screen and (max-width:420px) {

    .introPart {
        max-width: 420px;
        flex-direction:column;
        margin-top: -60px;
        margin-bottom: 40px;
    }

    .introHeading {
        font-size: 40px;
        font-style: italic;
        line-height: 51.2px;
        text-align: center;
        width: 293px;
        height: 153px;
    }
    .spanColor{
        font-size: 40px;
        line-height: 51.2px;
    }
    
    .introPara{
        width: 294px;
        height: 88px;
        font-family: 'Open sans', serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 21.79px;
        color: #525755;
        margin-top: 20px;
        text-align: center;
    }

    .introButton{
        margin-left: 50px;
       
    }

    .introImage{
        margin-top:-90px ;
        transform: translate(-30px, 145px);
       
    }
    
}


@media screen and (min-width:420px) and (max-width:720px){

}