@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Open+Sans&display=swap');

.ourContainer {
  background-color: #242424;
  padding: 40px 80px;
  color: white;

}

.data01 {
  font-family: 'open sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24.51px;
  color: #EDB86F;
  text-align: center;
  margin-bottom: 15px;

}

.ourContainer h1 {
  font-family: 'Lora', sans-serif;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
  color: white;




}

.data02 {



  font-family: 'open sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24.51px;

  text-align: center;
  margin-bottom: 40px;


}

.ourGrid {
  display: grid;
  max-width: 1202px;
  grid-template-columns: repeat(4, 1fr);

  background-color: transperent;
  margin: 0 auto;


}

.item {
  height: 283px;
  background-color: transparent;
  border: 1px solid white;
  padding: 20px;
  font-size: 30px;
  text-align: center;



  display: flex;
  flex-direction: column;
  justify-content: space-between;


}

.item-1 {
  width: 41.72px;
  height: 32.24px;
  text-align: left;
}

.item-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.item-2 p {
  width: 67px;
  height: 54px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 27.24px;
  text-align: left;

}

.item-2 div {
  height: 13px;
  width: 13px;
  margin-top: 20px;
  margin-right: 10px;
}

.item-2 .comp {
  margin-top: 150px;
}

.item-2 .comp1 {
  margin-top: 150px;
}


@media screen and (max-width:420px) {
  

  .ourContainer {
 
    padding: 40px 20px;
  
  }
  
  .data01 {
    font-size: 16px;
    line-height: 21.79px;
  }
  
  .ourContainer h1 {
    font-size: 30px;
  
  }
  
  .data02 {
      display: none;
  }
  
  .ourGrid {
    display: grid;
    max-width: 382px;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .item {
    height: 180px;
  }
  
  .item-1 {
    width: 17.5px;
    height: 21.48px;
  }
  
  
  .item-2 p {
    width: 34px;
    height: 44px;
    font-size: 16px;
    line-height: 21.79px;
  
  }

  .item-2 .comp {
    margin-top: 100px;
  }
  
  .item-2 .comp1 {
    margin-top: 100px;
  }
}