@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.customerContainer {

    background-color: #F0EBDF;
    padding: 50px 80px;

}


.title1 {
    font-family: 'open sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24.51px;
    color: #EDB86F;
    text-align: center;
    margin-bottom: 15px;



}

.customerContainer pre {
    font-family: 'Lora', sans-serif;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;

    color: #092C27;




}



.customerGrid {
    display: grid;
    max-width: 1036px;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    gap: 1rem;
    background-color: transperent;
    padding: 22px 30px 22px 30px;
}



.customerView {

    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

.customerPara {
    height: 110px;
    width: 420px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 21.79px;
    color: #525755;
    text-align: left;

}

.customerName {

    display: flex;
    flex-direction: row;
    margin-top: 8px;
   margin-bottom: 20px;


}

.name1 {
    margin-left: 20px;
}

.name1 h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 21.79px;
    text-align: center;
    color: #092C27
}

.name1 p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16.34px;
    text-align: center;
    color: #525755;
}

.logo {
    color: #55ACEE;
    font-size: 30px;
    margin-left: 230px;

}

.customerBtn {
    background-color: #EDB86F;
    color: #072C27;
    width: 343px;
    height: 58px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 21.79px;
}

.da1 {
    margin-top: 30px;
    text-align: center;
}

@media screen and (max-width:420px) {

    
.customerContainer {
    padding: 30px 10px;
}


.title1 {
    font-size: 16px;
    line-height: 21.79px;

}

.customerContainer pre {
    font-size: 30px;
    line-height: 38.4px;
}

.customerGrid {
    max-width: 380px;
    grid-template-columns: repeat(1, 1fr);

}

.logo {
    
    margin-left: 150px;
}

.customerPara {
    height: 140px;
    width: 320px;
}
.name1 h4{
    font-size: 14px;
}
}