@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



.navbar {
    padding: 20px 50px;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #F0EBDF
}

.headerData {

    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-left: -7%;
    margin-right: -7%;


}


.textStyle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 32.68px;
    font-size: 16px;
}

b {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 32.68px;
    font-size: 16px;
}

.desktopMenuListItem {
    margin: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 21.79px;
    font-size: 16px;
    cursor: pointer;
}

.desktopMenuListItem:hover {
    color: #EDB86F;
    padding-bottom: 8px;
    border-bottom: 3px solid #EDB86F;
}

.desktopMenuButton {
    background-color: #EDB86F;
    width: 208px;
    height: 42px;
    border: none;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    margin-top: -10px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    line-height: 21.79px;

}

.mobileData{
   display: none;
   object-fit: cover;
   font-size: 24px;
}


.mobileMenu{
     position: absolute;
     top:4rem;
     right:2rem;
     z-index: 2;
     display: flex;
     flex-direction: column;
     padding: 0.5rem;
     height: fit-content;
     min-width: 15rem;
     background-color: #EDB86F;
     border-radius:20px;
    }

    .mobileList{
        color: white;
        margin: 5px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        line-height: 32.68px;
        font-size: 16px;
       
    }

    @media screen and (max-width:720px) {
        .mobileData{
            display: flex;
        }
        .desktopMenu{
            display: none;
        }
        .desktopMenuButton{
            display: none;
        }
    }

    
@media screen and (max-width:420px) {
    .textStyle{
        font-size: 24px;
        line-height: 32.68px;
    }

    b{
        font-size: 24px;
        line-height: 32.68px;
    }
}

