@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Open+Sans&display=swap');



#aboutContainer {
    padding: 40px 80px;
    background-color: black;
    padding-bottom: 90px;
}

.aboutHead {
    margin-right: 8%;
    margin-left: 8%;
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    margin-top: -20px;
}

.about00 {
    margin-top: 5px;
    width: 80px;
    color: lightslategray;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;

}

.topBody {
    max-width: 1198px;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.aboutBody {
    margin-left: 238px;
    margin-top: 100px;
    width: 453px;
    height: 377px;
    color: white;
    text-align: left;
}

.para1 {
    color: #EDB86F;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;

}

.aboutBody h1 {
    margin-top: -77px;
    margin-bottom: 20px;
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 61.44px;
    height: 122px;


}

.aboutBody p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 21.79px;
    height: 110px;
    width: 378px;
}

.aboutBody button {
    margin-top: 20px;
    width: 347px;
    height: 49px;
    padding: 10px 15px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21.79px;


}

.firstBox {
    width: 493px;
    height: 631px;
    margin-left: 60px;
    margin-top: 50px;
}

.secondBox {
    background-color: #EDB86F;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 462px;
    height: 606px;

}

.aboutImage {
    height: 606px;
    width: 462px;
    transform: translate(-25px, 25px);

}

@media screen and (max-width:420px) {
      .aboutHead{
        display: none;
      }

      #aboutContainer{
        padding: 40px 2px;
      }

      .topBody {
        max-width: 420px;
        flex-direction: column;
        
    }

    .aboutBody{
        margin-left: 30px;
        margin-top: 50px;

    }
    .aboutBody h1 {

        font-size: 36px;
        line-height: 46.08px;
     
       
      
    
    }

    .aboutBody p{
        font-size: 14px;
        line-height: 19.07px;
        margin-top: -20px;
    }

    
.firstBox {
    width: 396px;
    height: 503px;
    margin-left: 4px;
    margin-top: 8px;
}

.secondBox {
    
    width: 371px;
    height: 483px;

}

.aboutImage {
    height: 483px;
    width: 371px;
    transform: translate(-25px, 25px);

}
      

}
