@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Open+Sans&family=Roboto&display=swap');

#footerContainer {
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 40px;

}

.footerData {
    display: flex;
    justify-content: space-between;
    height: 378px;
    width: 1200px;
}

.footerData li {
    list-style: none;
}

.nav-0 li b {
    font-weight: 700;
    font-size: 24px;
    line-height: 32.68px;

}

.nav-0 {
    font-weight: 400;
    margin: 40px;

}

.list {
    font-weight: 600;
    margin-top: 30px;
}


.foot1 {
    display: flex;
    flex-direction: row;
    margin: 20px;


}

.nav-1 li,
.nav-2 li,
.nav-3 li {
    margin-top: 20px;
    margin-left: 60px;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
}

hr {
    margin-left: 10px;
    width: 1200px;
}

.footerEnd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    margin-top: 30px;
}

.data1 {
    display: flex;
    flex-direction: row;

}

.data1 div {
    margin-left: 10px;
    font-size: 25px;
}

@media screen and (max-width:420px) {

    #footerContainer {
       padding: 10px 5px;
    
    }
    
    .footerData {
        height: 510px;
        width: 420px;
        flex-direction: column;
    }
    
    .footerData li {
        list-style: none;
    }
    
    .nav-0 li b {
        font-size: 20px;
        line-height: 27.24px;
    
    }

    .list {
        margin-top: 10px;
    }
    
    .foot1 {
        flex-direction:row;
        gap:50px;
    }
    
    .nav-1 li,
    .nav-2 li,
    .nav-3 li {
        margin-top: 10px;
        margin-left:5px;
    }
    
    hr {
        margin-left: 10px;
        width: 377px;
    }
    
    .d0{
       margin-left: 90px;
       margin-bottom: 5px;
    }
    .data1 {
        display:none
    }
    .d1{
        display: none;
    }

}