@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@600&family=Lora:ital@0;1&family=Open+Sans&family=Roboto&display=swap');

.latest-article {
  background-color: #242424;
  padding: 100px 80px;
}

.latest-article h1 {
  font-family: 'Lora', sans-serif;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
  color: white;
}

.title1 {
  font-family: 'open sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24.51px;
  color: #EDB86F;
  text-align: center;
  margin-bottom: 15px;

}

.articles {
  margin-right: 8%;
  margin-left: 8%;
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
}

.articles .articles-box {
  background-color: transparent;

  overflow: hidden;
}

.article-0 {
  width: 100%;
  height: 260px;
  padding-bottom: 15px;
}

.article-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.articles-box {
  margin: 10px 0;
  width: 387px;
  height: 542px;
  color: white;
  font-family: 'Be Vietnam Pro', sans-serif;

}

.postBy {
  font-family: 'open sans', sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #D9D9D9;

}

.title-explain {
  font-family: 'open sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  color: #D9D9D9;
}

@media screen and (max-width:420px) {
  .latest-article {
    padding: 30px 10px;
  }
  
  .latest-article h1 {
    font-size: 30px;
    margin-bottom: 20px;
   
  }
  
  .title1 {
   
    font-size: 16px;
    line-height: 21.79px;
    margin-bottom: 15px;
  
  }
  
  .articles {
    flex-direction: column;
  }

  
  .article-0 {
    width: 350px;
    height: 303px;
    padding-bottom: 15px;
  }
  
  .article-title {
    font-size: 20px;
    line-height: 35px;
  }
  .articles-box{
    margin-bottom: -60px;
  }


}