@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Open+Sans&display=swap');

.offerContainer {
    background-color: #092C27;
    padding: 40px 80px;
}

.offerPara {

    font-family: 'open sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24.51px;
    color: #EDB86F;
    text-align: center;
    margin-bottom: 15px;
}

.offerHeading {
    font-family: 'Lora', sans-serif;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
    color: white;

}

.offerBox {
    max-width: 1044px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin: 0 auto;
}

.verticalLine {
    border-left: 1px solid #576C6A;
    height: 400px;
}

.offerBox1 {
    text-align: left;
    width: 324px;
}

.offerBox1 h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 100px;
    line-height: 136.18px;
    color: #EDB86F;
    text-align: left;
}

.offerBox1 p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 27.24px;
    color: white;
    width: 324px;
    height: 108px;
    text-align: left;
    margin-top: -10px;
}

.offerBox1 button {
    background-color: #EDB86F;

    border: none;
    padding: 10px;
    margin-top: 40px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    line-height: 21.79px;
    text-align: left;
}

.offerBox2 {
    width: 324px;
    height: 435px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: left;
}

.offerBox2 h1 {
    color: #EDB86F;

    font-size: 60px;
    line-height: 81.71px;
    text-align: left;
}

.offerBox2 p {
    color: white;
    font-size: 16px;
    line-height: 21.79px;
    text-align: left;
    height: 66px;
    width: 300px;
}

.hdd {
    border: 1px solid #576C6A;

    margin-top: 40px;
    margin-bottom: 40px;
}

@media screen and (max-width:420px) {

    
.offerContainer {
    height: 700px;
    padding: 40px 20px;
}

.offerPara {
    font-size: 16px;
    line-height: 21.79px;
    margin-bottom: 10px;
}

.offerHeading {
   
    font-size: 30px;
    margin-bottom: 30px;
    
}

.offerBox {
    max-width: 420px;
    flex-direction: column;
    text-align: center;
}

.verticalLine {
   display: none;
}

.offerBox1 {
    text-align: center;
    width: 338px;
}

.offerBox1 h1 {
    font-size: 60px;
    line-height: 81.71px;
    text-align: center;
}

.offerBox1 p {

    font-size: 16px;
    line-height: 21.79px;
    color: white;
    width: 324px;
    height: 66px;
    text-align: center;
    margin-top: -10px;
}

.offerBox1 button {
    text-align: center;
}

.offerBox2 {
    width: 338px;
    height: 140px;
    text-align: center;
}

.offerBox2 h1 {
    text-align: center;
}

.offerBox2 p {
    text-align: center;
    height: 44px;
    width: 338px;
}

.hdd {
   display: none;
}


}